<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Broview - Media Viewer</title>
  <style>
    body { font-family: Arial, sans-serif; text-align: center; margin: 0; padding: 0; }
    img, audio, video { max-width: 90%; margin: 20px auto; display: block; border-style:solid;}
  </style>
</head>
<body>
  <h1>Broview - Media Viewer</h1>
  <div>
    <% @media_files.each do |file| %>
      <% extension = File.extname(file).downcase %>

      <% if Broview::FileScanner::IMAGE_EXTENSIONS.include?(extension) %>
        <img src="<%= file %>" alt="<%= file %>">
      <% elsif Broview::FileScanner::AUDIO_EXTENSIONS.include?(extension) %>
        <audio controls>
          <source src="<%= file %>" type="audio/<%= extension[1..-1] %>">
          Your browser does not support the audio element.
        </audio>
      <% elsif Broview::FileScanner::VIDEO_EXTENSIONS.include?(extension) %>
        <video controls>
          <source src="<%= file %>" type="video/<%= extension[1..-1] %>">
          Your browser does not support the video element.
        </video>
      <% end %>
    <% end %>
  </div>
</body>
</html>
